<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="UTF-8">
<link rel="icon" href="/static/images/favicon.ico"/>

<title>ホーム</title>
<style type="text/css">

    body{
        text-align: center;
        vertical-align:center;
    }

</style>

</head>

    <body>

    <br>
    <h1><span>ＨＷＱＲ</span></h1>
        
    <div>
        <button class="button1" type="submit"><a href="{{url_for('read_create')}}">ＱＲコード作成</a></button>
        <button class="button1" type="submit"><a href="{{url_for('read_match')}}">ＱＲコード読取照合</a></button>
    </div>

    </body>

</html>