<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="UTF-8">
<style type="text/css">

    body{
        text-align: center;
        vertical-align:center;
    }

</style>
</head>
<body>
    <p id="place">ＱＲコードの読取場所：{{plase}}</p><br>
    <p id="qr_list">読み取ったＱＲコード<br></p>
    <div align="center">
        <form action="{{url_for('read_matched')}}" id="qr_matching" method="POST" >
        <button type="submit" >照合</button>
        <button type="reset">リセット</button><br>
        <input type="hidden" value={{plase}} name="plase">
        {% for count in counts %}
            {{count}}<input type="text" name="matching"><br>
        {% endfor %}
        </table>
    </div>
    <button type="submit" >照合</button>
    <button type="reset">リセット</button>
    <button class="btn" type="button" onclick="location.href='/read_match.html';">選択画面へ戻る</button>
    <br>
</body>
