<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href=https://stitches.hyperyolo.com/output.css rel="stylesheet">
    <link rel="stylesheet" href=https://use.fontawesome.com/releases/v5.6.3/css/all.css integrity=sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/ crossorigin="anonymous">
    <title>Stitches</title>
  </head>
  <body><nav class="font-sans bg-white text-center flex justify-between my-4 mx-auto container overflow-hidden">
  <a href="/" class="block text-left">
    <img src="https://stitches.hyperyolo.com/images/logo.png" class="h-10 sm:h-10 rounded-full" alt="logo">
  </a>
  <ul class="text-sm text-gray-700 list-none p-0 flex items-center">
    <li><a href="#" class="inline-block py-2 px-3 text-gray-900 hover:text-gray-700 no-underline">Products</a></li>
    <li><a href="#" class="inline-block py-2 px-3 text-gray-900 hover:text-gray-700 no-underline">Pricing</a></li>
    <li class="pr-2"><a href="#"
        class="inline-block py-2 px-3 text-gray-900 hover:text-gray-700 no-underline">FAQs</a></li>
    <li class="pl-2 border-l"><a href="#"
        class="inline-block py-2 px-3 text-gray-900 hover:text-gray-700 no-underline">Log In</a></li>
    <button class="bg-black hover:bg-text-gray-800 text-white ml-4 py-2 px-3">
      Sign Up
    </button>
  </ul>
</nav><section class="font-sans flex justify-between mt-6 mx-auto max-w-xl">
  <a href="#" class="w-1/4 flex flex-col items-center text-center text-xs text-black no-underline">
    <div class="bg-black text-white rounded-full h-8 w-8 flex items-center justify-center mb-2 z-10"><i class="fas fa-check"></i></div>
    <label class="font-bold uppercase tracking-wide">Step 1</label>
  </a>
  <a href="#" class="w-1/4 relative flex flex-col items-center text-center text-xs text-black no-underline">
    <div class="bg-black text-white rounded-full h-8 w-8 flex items-center justify-center mb-2 z-10"><i class="fas fa-check"></i></div>
    <div class="absolute h-1 mt-4 bg-black inset-x-0 -translate-50-50"></div>
    <label class="font-bold uppercase tracking-wide">Step 2</label>
  </a>
  <a href="#" class="w-1/4 relative flex flex-col items-center text-center text-xs text-black no-underline">
    <div class="bg-black text-white rounded-full h-8 w-8 flex items-center justify-center mb-2 z-10"><i class="fas fa-check"></i></div>
    <div class="absolute h-1 mt-4 bg-black inset-x-0 -translate-50-50"></div>
    <label class="font-bold uppercase tracking-wide">Step 3</label>
  </a>
  <a href="#" class="w-1/4 relative flex flex-col items-center text-center text-xs text-black no-underline">
    <div class="bg-gray-700 text-white rounded-full h-8 w-8 flex items-center justify-center mb-2 z-10"><i class="fas fa-check"></i></div>
    <div class="absolute h-1 mt-4 bg-gray-700 inset-x-0 -translate-50-50"></div>
    <label class="font-bold uppercase tracking-wide text-gray-700">Step 4</label>
  </a>
</section><section class="my-8 font-sans container m-auto max-w-xl ">
  <div class="text-center">
    <h1 class="my-4 font-medium">管理台帳管理</h1>
    <p class="leading-normal mb-4 max-w-sm m-auto">行いたい操作を下記から選択してください。</p>
  </div>
  <div class="flex flex-col sm:flex-row flex-wrap my-8">
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child">
      <div class="w-12 h-12 rounded-full bg-gray-300" alt=""></div>
      <h3 class="mt-4 mb-1">QRコード生成</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal px-6 hidden hover:block">各端末ごとのQRコードを生成します。</p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-r border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child">
      <div class="w-12 h-12 rounded-full bg-gray-300" alt=""></div>
      <h3 class="mt-4 mb-1">QRコード読取</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">バーコードリーダーで読み取ったQRコードの読み取りを行います。</p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col items-center justify-center h-48 md:h-64 p-8  border-gray-300 border-b hover:shadow-md hover:border-0 bg-white hover:transform-scale-subtle transition-normal hover:show-child">
      <div class="w-12 h-12 rounded-full bg-gray-300" alt=""></div>
      <h3 class="mt-4 mb-1">管理台帳確認</h3>
      <p class="mt-4 text-center text-gray-700 leading-normal hidden hover:block">最新の管理台帳を表示します。</p>
    </div>
  </div>
</section><footer class="font-sans bg-black text-white py-8 px-4">
  <div class="mx-auto max-w-xl overflow-hidden flex justify-between items-center">
    <ul class="text-sm text-gray-700 list-none p-0 flex items-center">
      <li> <a href="/" class="block mr-4 w-32">
          <img src="https://stitches.hyperyolo.com/images/logo-white.png" class="" alt="logo">
        </a></li>
      <li><a href="#" class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline">Product</a></li>
      <li><a href="#" class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline">Company</a></li>
      <li><a href="#" class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline">FAQs</a></li>
      <li><a href="#" class="inline-block py-2 px-3 text-gray-500 hover:text-gray-500-light no-underline">About Us</a></li>
    </ul>
    <p class="inline-block py-2 px-3 text-gray-700 text-xs"> ©2019 Hyperyolo. All rights reserved.</p>
  </div>
</footer></body>
</html>
